.image-carousel{
    width: 500px;
    height: 300px;
    border: 5px;
    border-radius: 15px;
    margin-left: 30px;
}
.button-carousel{
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 15px;
    width: 120px;
    height: 60px;
    background-color: blue;
    color: aqua;
}