.container{
    display: flex;
    flex-direction: row;
    border-style:outset;
    border-color: black;
    margin: 10px;
}
.span{
    font-weight: bold;
}
.img-person img{
    width: 100px;
    height: 110px;
    margin:10px;
}
